<div>
    <footer>
            <ul class="link">
                <li><a href="https://www.instagram.com/?hl=en" target="_blank"> </a></li>
                <li><a href="https://www.facebook.com/" target="_blank"> </a></li>
                <li><a href="https://twitter.com/login" target="_blank"> </a></li>
                <li><a href="https://www.youtube.com" target="_blank"> </a></li>
            </ul>

            <div class="footer-menu">

                <ul class="list">
                    <li><a href=""> About US </a></li>
                    <li><a href=""> Blogs </a></li>
                    <li><a href=""> FAQs </a></li>
                </ul>

                <ul class="list">
                    <li><a href=""> Help Center </a></li>
                    <li><a href=""> Contact US </a></li>
                    <li><a href=""> Sitemap </a></li>
                </ul>

            </div>

        <div class="copyright">
            <p>Lorem Ipsum Dollar Blah Blah Blah Blah</p>
            <p>@copyright To The New 2017</p>
        </div>


    </footer>
</div>

