<div>
    <header>

        <h1 class="logo">
            <a href="#">TO DO</a>
        </h1>

        <div ng-if="vm.authorized == true">
            <nav>
                <ul class="list">
                    <li class="details"><a ui-sref="/profile({id:vm.activeuser.id})" hef="">
                        <img src={{vm.activeuser.proPic}} alt="" class="user-image">
                        <span class="user-name">{{vm.activeuser.name}}</span>
                        </a>
                    </li>
                    <li><a ui-sref="/" class="home-tab">HOME</a></li>
                    <li><a ng-click="vm.signOut()" ui-sref="/" class="sign-out">SIGN OUT</a></li>
                </ul>
            </nav>
        </div>

        <div ng-if="vm.authorized == false">
            <nav>
                <ul class="list">
                    <li><a ui-sref="/signIn" href="" class="sign-in">SIGN IN</a></li>
                    <li><a href="">SIGN UP</a></li>
                </ul>
            </nav>
        </div>

    </header>
</div>