<div ng-controller="signInController as vm">

    <toaster-container toaster-options="{'position-class':'toast-top-center', 'limit':1}"></toaster-container>

    <section class="sign-in-wrapper">
        <form>
            <label>User Name</label>
            <input type="text" placeholder="User Name" class="user-name" ng-model="vm.currentUserName" required/>

            <label> Password</label>
            <input type="password" placeholder="Password" class="password" ng-model="vm.currentUserPass" required/>

            <button class="todo-button" ng-click="vm.checkingUser()">SIGN IN</button>
        </form>
    </section>
</div>