<div class="profile">

    <div class="profile-pic">
        <div>
            <img src={{vm.user.proPic}} alt="Profile pic">
        </div>
        <p class="user-name">{{vm.user.userName}}</p>
        <p class="email">{{vm.user.email}}</p>
    </div>

    <div class="todos">

        <div class="complete-todos">
            <h2>Completed Tasks</h2>
            <div ng-repeat="complete in vm.user.todolist.complete track by $index">
                <sapn>{{ complete.title }} : </sapn>
                <p> {{ complete.description }} </p>
            </div>
        </div>

        <div class="incomplete-todos">
            <h2> Incomplete Tasks</h2>
            <div ng-repeat="incomplete in vm.user.todolist.incomplete track by $index">
                <sapn>{{ incomplete.title }} : </sapn>
                <p> {{ incomplete.description }} </p>
            </div>
        </div>

    </div>

</div>