@mixin clearfix() {
  display : table;
  content : '';
  clear : both;
}

@mixin mycontainer ( $top, $left, $bottom, $right ) {
  box-sizing:border-box;
  width : $container-width;
  margin : 0px auto;
  padding : {
    top : $top;
    left : $left;
    bottom : $bottom;
    right : $right;
  }
}

@mixin pull-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@mixin section-before-after {
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 8px;
}