<div ng-controller="homeController as vm">
    <section ng-repeat="user in vm.user track by $index">
        <table>
            <tr>
                <th></th>
                <th>
                    Completed Tasks
                </th>
                <th>
                    Incomplete Tasks
                </th>
            </tr>

            <tr>
                <td>
                    <img src={{user.proPic}} alt="Profile pic">
                    <p>{{ user.userName }}</p>
                </td>

                <td>
                    <li ng-repeat="complete in user.todolist.complete track by $index">
                        {{ complete.title }}
                    </li>
                </td>

                <td>
                    <li ng-repeat="incomplete in user.todolist.incomplete track by $index">
                        {{ incomplete.title }}
                    </li>
                </td>
            </tr>
        </table>
    </section>
</div>