<div ng-controller="homeController">
    <section>
        <table>
            <tr>
                <th></th>
                <th>
                    Completed Tasks
                </th>
                <th>
                    Incomplete Tasks
                </th>
            </tr>

            <tr>
                <td rowspan="2">
                    <img src="data.proPic" alt="Profile pic">
                    <p>name</p>
                </td>

                <td>
                    <li>
                        list
                    </li>
                </td>

                <td>
                    <li>
                        list
                    </li>
                </td>
            </tr>
        </table>
    </section>
</div>